$orange: #ED6D54;
$blue: #0D63A5;
$dk-blue: #20495D;
$white: #EFEFEF;

body {
	background: $blue;
	color: $white;
}

dt {
	/*font-weight: bold;*/
}

dd {
	color: #C7C7C7;
	margin: 0;
}

h2 {
	color: $dk-blue;
	font-weight: 900;
}

h4 {
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 1em;
	font-weight: 900;
}

nav {
	.fa {
		font-size: 2em;
	}
	ul > li > a {
		text-decoration: none;
		color: $white;
		&:hover, &:focus {
			color: $orange;
		}
	}
	&.horizontal {
		ul > li {
			display: inline-block;
			list-style: none;
			padding: 12px;
			margin-right: 12px;
		}
	}
}


#site-nav {
	position: relative;
	margin: 100px auto 50px;
	width: 300px;
	height: 120px;
}

#check {
  display: none;
}

#check:checked ~ .item1 {
  left: -2px;
}
#check:checked ~ .item2 {
  top: -75px;
}
#check:checked ~ .item3 {
  left: 196px;
}

.nav-trigger {
  background-image: url('https://pbs.twimg.com/profile_images/694543295733567489/Xa4irJg_.jpg');
  background-size: cover;
  background-position: center center;
  width: 120px;
  height: 120px;
  display: block;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 25%;
  right: 25%;
  z-index: 10;
}

.nav-item {
  padding: 25px 10px;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 100px;
  background: $dk-blue;
  text-decoration: none;
  color: #FFF;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

